@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12">
            <form class="form-inline">
                <div class="input-prepend input-append">
                    <input type="text" name="group-message" id="group-message-text" placeholder="Type a message" />
                    <input type="text" name="group-name" id="group-name" placeholder="Type a group name" />
                    <div class="container">
                        <input type="button" id="groupmsg" class="btn" value="Send to Group" />
                        <input type="button" id="join-group" class="btn" value="Join Group" />
                        <input type="button" id="leave-group" class="btn" value="Leave Group" />
                    </div>
                </div>
                <div>
                    <p>Mensagem privada</p>
                    <input type="text" name="private-message" id="private-message-text" placeholder="Type a message" />
                    <input type="text" name="user-id" id="user-id" placeholder="User id" />
                    <div class="container">
                        <input type="button" id="privatemsg" class="btn" value="Send to private" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12">
            <ul id="messagesListGroup"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12">
            <ul id="messagesListPrivate"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatGroup.js"></script>
